
// Base Font
//$base-font-family: 'halcom';
//$base-font-family: 'halcomtitle';
//$title-font-family: 'halcomtitle';
$base-font-size: 18px;
$base-line-height: 30px;

//base colors
$color-primary: #13080D;
$color-orange: #F57D20;
$color-pink: #EE3968;
$color-blue: #00AEC7;
$color-white: #ffffff;


