/*--------------------------------------------------------------
# Page style
--------------------------------------------------------------*/
.home {
    overflow:hidden !important;
    .outsider {
        max-height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
}


.contact {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    header#nav-header {
        .logo {
            svg {
                path#logo-icon {
                    fill:$color-white;
                }
            }
        }
        .navbar-default {
            .navbar-nav {
                li {
                    a {
                        color:$color-white;
                    }
                }
            }
        }
        .navbar-toggle {
            .icon-bar {
                background:$color-white;
            }
        }
    }
}

.over-ons {
    overflow-y:scroll !important;
    .logo {
        .logo-text {
            fill:$color-white;
        }
    }
    .outsider {
        max-height:inherit !important;
        scroll-snap-type:none !important;
        overflow:hidden !important;
    }
}

.onze-aanpak {
    overflow-y:scroll !important;
    .logo {
        .logo-text {
            fill:$color-white;
        }
    }
    .outsider {
        max-height:inherit !important;
        scroll-snap-type:none !important;
        overflow:hidden !important;
        #main-content {
            padding-bottom:200px;
            .content-container {
                margin-bottom:110px;
            }
        }
    }
}

.single-cases {
    overflow-y:scroll !important;
    .outsider {
        max-height:inherit !important;
        scroll-snap-type:none !important;
        overflow:hidden !important;
        #main-content {
            padding-bottom:200px;
            .content-container {
                margin-bottom:125px;
            }
        }
    }
    #slider {
        .container-fluid {
            overflow: hidden;
            padding-right: 0;
            padding-left: 0;
        }
    }
    .logo {
        svg {
            .logo-text {
                fill:$color-white;
            }
        }
    }
}

.cases {
    overflow-y:scroll !important;
    .outsider {
        max-height:inherit !important;
        scroll-snap-type:none !important;
        overflow:hidden !important;
    }
}

/*--------------------------------------------------------------
# Responsive page style
--------------------------------------------------------------*/
@include breakpoint(lg) {

}

@include breakpoint(md) {
    .over-ons {
        .outsider {
            &:before {
                width:100%;
                height: 50vh !important;
                bottom: auto;
                background-position: top right;
            }
        }
        #main-content {
            .content-container {
                img {
                    height:400px;
                    object-fit:cover;
                }
            }
        }
    }
    .onze-aanpak {
        .outsider {
            #main-content {
                padding-bottom:0px;
                .content-container {
                    margin-bottom:30px;
                }
                .image-box {
                    img {
                        margin: 30px -15px;
                        border-radius:10px !important;
                    }
                }
            }
        }
    }

}

@include breakpoint(sm) {

}
